* {
    box-sizing: border-box;
}

header, footer{
    background-color: red;
    margin: 0;
    text-align: center;
    position: fixed;
    width: 100%;
}

header > input {
    margin-bottom: 10px;
}


footer{
    bottom: 0;
}

#app {
    padding-top: 115px;
}

body{
    padding: 0;
    margin: 0;
    background-image: url(background.jpg);

}

#list{
    display : flex;
    flex-wrap : wrap;
    flex-direction: row;
    margin: 25px 15% 60px 15%;
}

.pok-display{
    margin: 10px;
    border: solid;
    border-radius: 10px;
    padding : 10px;
}
.pok-name{
    font-size: 20px;
    text-align: center;
}
